
/*-------------------------*\
|	THEME STYLES
|	Modify these at will
\*-------------------------*/






/*-------------------------*\
|	CORE STYLES
|	Here be dragons!
\*-------------------------*/

.ctabs-wrapper {
	margin-bottom: 1em;
}

/* basic reset */
.ctabs-tab-list,
.ctabs-panel-list,
.ctabs-tab,
.ctabs-panel {
	display: block;
	margin: 0;
	padding: 0;
}

.ctabs-tab-list {
}
.ctabs-tab-list:after {
	display: block;
	clear: both;
	content: " ";
}
.ctabs-tab {
	float: left;
	list-style: none;
	margin-left: 4px;
	padding: 0;
	position: relative;
	top: 1px;
	z-index: 10;

	/* tab chrome */
	border: 1px solid #ccc;
	background-color: #eee;
	text-align: center;
	border-radius: 4px 4px 0 0;
}
.ctabs-tab:hover {
	background-color: #ddd;
}
.ctabs-tab.ctabs-active {
	background-color: #fff;
	border-bottom-color: #fff;
}
.ctabs-tab > a {
	display: block;
	min-width: 50px;
	padding: 3px 10px;
	color: #666;
	text-decoration: none;
}

.ctabs-panel-list {
	position: relative;
	z-index: 5;
	border-top: 1px solid #ccc;
}
.ctabs-panel {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	padding-top: .5em;
}

.ctabs-hidden {
	visibility: hidden;
}
