$spacing-unit:  15px !default;
$base-border:   1px solid #ccc !default;
$tab-bg-on:     #fff !default;
$tab-bg-off:    #eee !default;

/*-------------------------*\
|	CORE STYLES
|	Here be dragons!
\*-------------------------*/

.svtabs-wrapper {
	@extend %svtabs-wrapper;
}

/* basic reset */
.svtabs-tab-list,
.svtabs-panel-list,
.svtabs-tab,
.svtabs-panel {
	display: block;
	margin: 0;
	padding: 0;
}

.svtabs-tab-list {
	@extend %svtabs-tab-list;

	/* micro clearfix */
	&:after {
		display: block;
		clear: both;
		content: " ";
	}
}

.svtabs-tab {
	float: left;
	list-style: none;
	margin-left: 4px;
	padding: 0;
	position: relative;
	top: 1px;
	z-index: 5;

	@extend %svtabs-tab;

	> a {
		display: block;
	}
}

.svtabs-panel-list {
	position: relative;
	z-index: 4;

	@extend %svtabs-panel-list;
}
.svtabs-panel {
	list-style: none;
	/* for accessibility reasons, `position: absolute` is added later by plugin */
	top: 0;
	left: 0;

	@extend %svtabs-panel;
}

.svtabs-panel-hidden {
	display: none;
}
.svtabs-onetab {
	> .svtabs-tab-list {
		display: none;
	}
	> .svtabs-panel-list {
		border-top: 0;
	}
}


/*-------------------------*\
|	THEME STYLES
|	Modify these at will
\*-------------------------*/

%svtabs-wrapper {
	margin-bottom: 1em;
}

%svtabs-tab-list {
	&.svtabs-indent {
		margin-left: 40px;
	}
}

%svtabs-tab {
	border: $base-border;
	background-color: $tab-bg-off;
	text-align: center;
	border-radius: 4px 4px 0 0;

	&:hover {
		background-color: #ddd;
	}

	&.svtabs-active {
		background-color: $tab-bg-on;
		border-bottom-color: $tab-bg-on;
	}

	> a {
		min-width: 50px;
		padding: 3px 10px;
		color: #666;
		text-decoration: none;
	}

	&.svtabs-tab-small {
		font-size: 11px;
		> a {
			padding: 2px 8px;
		}
	}
}

%svtabs-panel-list {
	border-top: $base-border;
}

%svtabs-panel {
	width: 100%;
	padding-top: $spacing-unit;
}
