/*-------------------------*\
|	CORE STYLES
|	Here be dragons!
\*-------------------------*/

.svtabs-wrapper {
	@extend %svtabs-wrapper;
}

/* basic reset */
.svtabs-tab-list,
.svtabs-panel-list,
.svtabs-tab,
.svtabs-panel {
	display: block;
	margin: 0;
	padding: 0;
}

/* micro clearfix */
.svtabs-tab-list:after {
	display: block;
	clear: both;
	content: " ";
}

.svtabs-tab {
	float: left;
	list-style: none;
	margin-left: 4px;
	padding: 0;
	position: relative;
	top: 1px;
	z-index: 5;

	@extend %svtabs-tab;

	> a {
		display: block;
	}
}

.svtabs-panel-list {
	position: relative;
	z-index: 4;

	@extend %svtabs-panel-list;
}
.svtabs-panel {
	/* for accessibility reasons, `position: absolute` is added later by plugin */
	top: 0;
	left: 0;

	@extend %svtabs-panel;
}

.svtabs-hidden {
	visibility: hidden;
}



/*-------------------------*\
|	THEME STYLES
|	Modify these at will
\*-------------------------*/

%svtabs-wrapper {
	margin-bottom: 1em;
}

%svtabs-tab {
	border: 1px solid #ccc;
	background-color: #eee;
	text-align: center;
	border-radius: 4px 4px 0 0;

	&:hover {
		background-color: #ddd;
	}

	&.svtabs-active {
		background-color: #fff;
		border-bottom-color: #fff;
	}

	> a {
		min-width: 50px;
		padding: 3px 10px;
		color: #666;
		text-decoration: none;
	}
}

%svtabs-panel-list {
	border-top: 1px solid #ccc;
}

%svtabs-panel {
	width: 100%;
	padding-top: .5em;
}
